@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

/*HEADER*/

div.fixedheader {
  position: fixed;
  width: 100%;
  background-color: black;
}

nav {
  display: inline-block;
}

.rose {
  width: 100px;
  display: inline-block;
}

li {
  color: white;
  font-weight: 300;
  display: block;
}

a {
  color: white;
  text-align: center;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #58595b;
}

/*CONTENT*/

.topcontent {
  margin-top: 150px;
}

.content {
  padding: 0.15em;
}

div.container {
  display:inline-block;
}

/*FOOTER*/

.copywright {
  color: white;
}

/*ABOUT*/

.featurevideo {
  margin-top: 150px;
  padding: 0.15em;
}

h1, h2 {
  font-size: 20px;
  color: white;
}

.link {
  text-decoration: underline;
}

/*CONTACT*/

h1, p, label {
  color: white;
}

fieldset {
  background-color: white;
  margin-top: 150px;
  margin-left: 500px;
  margin-right: 500px;
}
@media only screen and (min-width: 34em) {

  li {
    padding-left: 30px;
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  .bio {
    margin-top: 150px;
  }

}
