@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px solid white;
  margin: 1em;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

p {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

a {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}

a:hover {
  color: #58595b;
}

img {
  text-align: center;
}
