<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Heather Bisaillion Design</title>
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,intial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
<body>

<main>
  {{content}}
</main>

<div class="grid" id="footer">
  <div class="unit xs-1 s-1 m-1 l-1 xl-1 pad-t wrap">
      <footer class="copywright milli text-right">
        <a itemprop="instagram" href="https://www.instagram.com/heatherbisaillion/"><img class="instagram" src="{{site.baseurl}}/images/instagram.png" alt="instagram icon."></a>
        <a itemprop="behance" href="https://www.behance.net/HeatherBisaillion"><img class="behance" src="{{site.baseurl}}/images/behance.png" alt="behance icon."></a>
        <a itemprop="linkedin" href="https://ca.linkedin.com/in/heather-bisaillion-754348b5"><img class="linkedin" src="{{site.baseurl}}/images/linkedin.png" alt="linkedin icon."></a>
        <a itemprop="twitter" href="https://twitter.com/HeathBisa"><img class="twitter" src="{{site.baseurl}}/images/twitter.png" alt="twitter icon."></a>
        <p class="footer">HEATHER BISAILLION © 2016</p>
      </footer>
    </div>
</div>

</body>
</html>
